{% extends 'index.html' %} {% block title %}
<h1>Tentang</h1>
{% endblock %} {% block body %}
<p>
  Website ini dibuat untuk memprediksi kategori berita dari
  <a
    href="https://kompas.com/"
    style="color: skyblue; text-decoration: underline"
    >Kompas Indonesia</a
  >. Website ini menggunakan model machine learning
  <b>Logistic Regression</b> yang dibuat dengan menggunakan data berita dari
  Kompas Indonesia dan menghasilkan prediksi 2 kategori yaitu OTOMOTIF & MONEY.
</p>
<p>
  Website ini dibuat oleh
  <a href="https://github.com/meinhere" style="text-decoration: underline"
    >Sabil Ahmad Hidayat</a
  >
</p>
<p>
  Link Repo/Source:
  <a
    href="https://github.com/meinhere/news-clasification"
    style="text-decoration: underline"
    >news-clasification</a
  >
</p>
<p>
  Tahapan proses modeling:
  <a
    href="https://meinhere.github.io/ppw/intro.html"
    style="text-decoration: underline"
    >logistic regression</a
  >
</p>
{% endblock %}
